#button1 {
  border-color: transparent;
  font-size: 1.5rem;
  font-weight: 100;
}

#button1:hover {
  background-color: LightSkyBlue;
}

#button2 {
  margin-left: 49%;
  border-color: transparent;
}

#button2:hover {
  background-color: LightSkyBlue;
}

#button3 {
  border-color:transparent;
}

#button3:hover {
  background-color: LightSkyBlue;
}

#logo {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 2rem;
}

#hor-line {
  margin-top: 0;
}

#title {
  margin-left: 5rem;
  font-size: 2rem;
}

#subheading1 {
  padding-bottom: 0.3rem;
  width: 0.7rem;
  margin-left: 5rem;
  display: inline-block;
}

#subheading2 {
  padding-bottom: 0.3rem;
  width: 0.7rem;
  margin-left: 6rem;
  display: inline-block;
}

#inlineText {
  margin-left: 0.3rem;
  padding: 0.3rem;
  display: inline-block;
}

#searchBar {
  border-radius: 5rem;
  width: 30rem;
  height: 1.7rem;
  background-color: WhiteSmoke;
  font-size: 0.85rem;
  border: 0rem;
  color: grey;
  margin-bottom: 0rem;

}

#searchIcon {
  margin-left: 4.5rem;
  width: 2rem;
  padding: 0.5rem;
}

#dropdown {
  margin-left: 5rem;
  margin-top:0rem;
  background-color: transparent;
  color: black;
  border: 0rem;
  padding: 0.05rem 0.5rem;
  font-size: 0.85rem;
}

#dropdownOptions {
  font-size: 0.75rem;
}

#dropdownOptions:active {
  background-color: LightSkyBlue;
}

#listButton {
  margin-left: 49%
}

#editButton {
  border-color: transparent;
  background-color: WhiteSmoke;
  color: grey;
}

#editButton:hover {
  background-color: LightGrey;

}
